* {
      box-sizing: border-box;
  }

.overlay {
      background-color: white;
      left: 0;
      top: 0;
      width: 100%;
  }
.modal {
      background-color: #8ebf42;
      border-radius: 40px;
      height: 200px;
      left: 50%;
      line-height: 200px;
      margin-left: -150px;
      margin-top: -100px;
      position: fixed;
      text-align: center;
      top: 40%;
      width: 300px;
      z-index: 11;
  }
.main {
      margin: auto;
      max-width: 1000px;
  }
h1 {
      font-size: 50px;
      word-break: break-all;
  }
.row {
      margin: 8px -16px;
  }
.row,
.row>.column {
      padding: 8px;
  }
.column {
      display: none;
      float: left;
      width: 33.33%;
  }
.row:after {
      clear: both;
      content: "";
      display: table;
  }
.content {
      padding: 10px;
  }
.show {
      display: block;
  }
.slidesbtn {
      background-color: white;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 12px 16px;
  }
.slidesbtn:hover {
      background-color: #ddd;
  }
.slidesbtn.active {
      background-color: #666;
      color: white;
  }
.slide {
      border-style: none;
      max-width: 273px;
  }
.slide button {
      background-color: white;
      border-style: none;
  }
.closed {
      display: none;
  }
.closebutton {
      background: none;
      border: none;
      float: right;
  }
.progtitle1 {
      word-break: break-word;
  }
.progdata {
      border-color: lightgrey;
      border-style: solid;
      text-align: left;
  }
.progdata .title {
      border-right-color: var(--aol-black);
      border-right-style: groove;
      border-right-width: thin;
      font-style: oblique;
      font-weight: bold;
      padding-right: 0.5em;
      text-align: left;
      vertical-align: top;
  }
.program-info {
      margin-left: 5px;
      margin-right: 5px;
  }