extends /components/layout.pug

block title
    title Academy of Learning | Statement of Student Rights

block content 
    h1#student-statement-of-rights Student Statement of Rights
    p Academy of Learning&reg; Career College is certified with the Private Training Institutions Branch (PTIB) of the British Columbia Ministry of Advanced Education and Skills Training.
    p Before you enrol at a certified private training institution, you should be aware of your rights and responsibilities.
    p You have the right to be treated fairly and respectfully by the institution.
    p You have the right to a student enrolment contract that includes the following information:
    ul
        li amount of tuition and any additional fee for your program
        li refund policy
        li if your program includes a work experience, the requirements to participate in the work experience and the geographic area where it will be provided
        li whether the program was approved by PTIB or does not require approval.
    p Make sure you read the contract before signing.  The institution must provide you with a signed copy.
    p You have the right to access the institution&rsquo;s dispute resolution process and to be protected against retaliation for making a complaint.
    p You have the right to make a claim to PTIB for a tuition refund if:
    ul
        li your institution ceased to hold a certificate before you completed an approved program
        li you were misled about a significant aspect of your approved program.
        li You must file the claim within one year of completing, being dismissed or withdrawing from your program.
    p For more information about PTIB and how to be an informed student, go to:   
    a(href='http://www.privatetraininginstitutions.gov.bc.ca/students/be-an-informed-student') http://www.privatetraininginstitutions.gov.bc.ca/students/be-an-informed-student