/* Imports*/
// @import url("../node_modules/@fontsource/roboto/index.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
// @import url("../node_modules/@fontsource/raleway/index.css");
// @import url("~/css/mdb.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css");
// @import url("../node_modules/mdbootstrap/scss/core/bootst");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

// @import url("~/css/bootstrap.min.css");
// @import url("~/fontawesome/css/all.min.css");
// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
:root {
    --aol-black: rgba(83, 83, 83, 0.8);
    --aol-blue: rgb(90, 203, 218);
    --aol-green: rgb(169, 202, 63);
    --aol-orange: rgb(234, 112, 36);
    --dark-grey: rgba(48, 46, 47, 1);
    --aol-white: rgb(226,222,216);
    --dark-blue: rgba(8, 68, 104, 1);
}

.blue {
    color: var(--aol-blue) !important;
}
body {
    font-family: "Questrial", sans-serif;
    margin: 0;
    min-width: 420px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

.light-text {
    color: var(--aol-white);
}

img {
    max-width: 100%;
}

#rows div.row {
    color: var(--aol-white);
    height: auto;
    margin-bottom: 0%;
    margin-top: 0% !important;
    overflow: hidden;
    padding-bottom: 0%;
    padding-bottom: 0px;
    padding-top: 0%;
}

.green {
    background-color: var(--aol-green);
}

.orange {
    background-color: var(--aol-orange);
}

#rows div.col img {
    display: inline-block;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

#features {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#features .card {
    border-top-color: var(--aol-blue);
    border-top-style: solid;
    border-top-width: 5px !important;
    min-height: 100%;
    padding: 10px 0px;
    width: 18rem;
}

#features i {
    font-size: 1in;
    padding-top: 5px;
    text-align: center;
}

a {
    color: var(--aol-white);
    text-decoration: none;
}

a:hover {
    color: var(--dark-grey);
    text-decoration: none;
}

main {
    padding-left: 25px;
    padding-right: 25px;
}

main a {
    text-decoration: underline !important;
}

// .orange {
//       background-color: var(--aol-orange) !important;
//   }
.orange-text {
    color: var(--aol-orange);
}

.greencolor {
    background-color: var(--aol-green);
}

.bluewcolor {
    background-color: var(--aol-blue);
}

.orange-btn {
    background: var(--aol-orange);
    border-radius: 5px;
    box-sizing: unset;
    color: var(--aol-white);
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;

}

.fas {
    color: var(--aol-orange);
}

.far {
    color: var(--aol-orange);
}

.fab {
    color: var(--aol-orange);
}

.white-text {
    color: var(--aol-white);
    font-size: x-large;
    margin: 0 auto;
    text-align: center;
}

.white-text-md {
    color: var(--aol-white);
    margin: 0 auto;
    text-align: center;
}

.fiftypcthz {
    display: inline;
    max-width: 30%;
}

.sixtypcthz {
    display: inline;
    max-width: 60%;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.grey-bg {
    background-color: var(--dark-grey);
}

.navbar-dark {
    background-color: var(--dark-grey);
}

.bg-light {
    background-color: var(--dark-grey);
}

.afulliframe {
    height: 525px;
    width: 100%;
}

iframe {
    border: 0;
}

.mainpageheader {
  background-image: url('~/images/AOLCC_is56373070-scaled.webp'); 
  background-repeat: no-repeat;
  background-size:  100%;
  display: block;
}

.mainpageheaderform {
    background-color: var(--dark-blue);
    margin-left: 60%;
    min-width: 400px;
    padding-left: 2%;
    padding-right: 2%;
}

.white-text-large {
    color: var(--aol-white);
}

.tippytop {
    top: 0;
}


.aboutusheader {
    background: url("../images/parallax.webp") no-repeat fixed top;
    height: 675px;
}

.aboutusheader-text {
    background-color: var(--aol-green);
    clear: left;
    color: var(--aol-white);
    float: left;
    margin-left: 25%;
    margin-top: 200px;
    padding: 1cm;
    text-align: center !important;
}

@media (max-width: 575px) {
    .inline-block {
        display: unset;
        width: 100%;
    }

    .fiftypcthz {
        display: unset;
        max-width: 100%;
    }

    .sixtypcthz {
        display: inline;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .mainpageheaderform {
        background-color: var(--dark-blue);
        margin-left: 0 !important;
        width: 100% !important;
    }

    .mainpageheader {
        background-image: unset;
    }
}

@media all and (min-width: 992px) {
    nav-item:hover .dropdown-menu {
        display: block;
    }

    nav-item:hover .nav-link {
        color: var(--aol-white);
    }

    .navbar .nav-item .dropdown-menu {
        display: none;
        margin-top: 0;
    }
}

.orangehr {
    border-top: 5px solid var(--aol-orange);
}

.stayinline {
    display: inline-block;
}

.orangebg {
    background-color: var(--aol-orange);
    color: var(--aol-white);
}

.banner {
    font-size: 2em;
    margin-left: unset;
    margin-right: unset;
    min-width: 100% !important;
    padding: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center !important;
}

hr {
    border-top-color: var(--aol-black);
    max-width: 30%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0.5em !important;
    width: 100% !important;
}

.dark-orange-btn {
    background-color: var(--aol-black);
    border-radius: 5px;
    display: inline;
    padding-left: 10px;
    padding-right: 5px;
}

.banner-small-text {
    font-size: medium;
}

.blue-btn {
    background-color: var(--aol-blue);
    box-sizing: content-box;
    color: var(--aol-white);
    display: block;
    float: none;
    font-weight: bold;
    margin: 0 auto;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 5px 10px;
}

.lefthr {
    margin-left: 0;
    text-align: left;
}

.container {
    overscroll-behavior-x: contain !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
}

.promise1 {
    color: var(--aol-white);
    padding: 60px;
}

.promise2 {
    color: var(--aol-white);
    padding: 60px;
}

.promise3 {
    color: var(--aol-white);
    padding: 60px;
}

.ralewayh3 {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
}

.promiseicon {
    color: var(--aol-black);
    display: inline-block;
    font-kerning: auto;
    font-size: 2.15em !important;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    left: 0 !important;
    line-height: 1 !important;
    position: absolute;
    text-rendering: auto;
    top: -3px !important;
    transform: translate(-50%, -50%);
}

.vc_icon_element.vc_icon_element-outer.bgicon.vc_icon_element-align-left {
    bottom: 0;
    left: 35px;
}

.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left {
    text-align: left;
}

.vc_icon_element.vc_icon_element-outer {
    box-sizing: border-box;
}

.vc_icon_element {
    font-size: 14px;
    line-height: 0;
    margin-bottom: 35px;
}

.bgicon {
    color: var(--aol-black);
    display: block;
    position: absolute;
    right: -50px;
}

.vc_custom_1579190761145 {
    background-image: url(https://www.academyoflearning.com/wp-content/uploads/2020/01/AOLCC_is56373070-scaled.webp?id=7392) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-top: 5px !important;
    padding-top: 10px !important;
}

.vc_custom_1537961298624 {
    margin-top: 5px !important;
}

.vc_custom_1563462334209 {
    padding-top: 10px !important;
}

.vc_custom_1536751742121 {
    margin-bottom: 75px !important;
    margin-top: 110px !important;
}

.vc_custom_1536734614441 {
    margin-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.vc_custom_1579190841866 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.vc_custom_1579189661384 {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    padding-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 15px !important;
}

.vc_custom_1536645008094 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.vc_custom_1562948158701 {
    margin-bottom: 0px !important;
}

.vc_custom_1562948320443 {
    margin-top: 10px !important;
}

.vc_custom_1536645350691 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.vc_custom_1536646692504 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.vc_custom_1537535355964 {
    margin-bottom: 50px !important;
}

.vc_custom_1536742535431 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742542198 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742547885 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742553941 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742558751 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742563173 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742569638 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742574083 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536742585388 {
    margin-bottom: 35px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.vc_custom_1536900392850 {
    margin-top: 15px !important;
}

.vc_custom_1562948440715 {
    margin-bottom: 15px !important;
}

.vc_custom_1536899992268 {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

.vc_custom_1565628508788 {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.vc_custom_1565628451923 {
    margin-bottom: 0px !important;
}

.vc_custom_1536748656965 {
    padding-bottom: 30px !important;
    padding-top: 30px !important;
}

.vc_custom_1565367027795 {
    margin-bottom: 0px !important;
}

.vc_custom_1537962721759 {
    margin-bottom: 0px !important;
}

.vc_custom_1536751042734 {
    margin-bottom: 18px !important;
    margin-top: 10px !important;
    padding-top: 1px !important;
}

.vc_custom_1537963125719 {
    margin-bottom: 50px !important;
}

.vc_custom_1537963277848 {
    margin-bottom: 55px !important;
}

.vc_custom_1537449817852 {
    background-color: var(--aol-white)fff !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 2px !important;
}

.vc_custom_1536747758909 {
    padding-top: 40px !important;
}

.vc_custom_1536734596947 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.vc_custom_1536734409922 {
    margin-bottom: 0px !important;
}

.vc_custom_1537533125233 {
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 25px !important;
}

.vc_custom_1537520955561 {
    padding-right: 0px !important;
}

.vc_custom_1537532859542 {
    margin-bottom: 0px !important;
    padding-left: 20px !important;
    padding-top: 15px !important;
}

.vc_custom_1537532849903 {
    margin-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 20px !important;
}

.vc_custom_1537520960120 {
    padding-right: 0px !important;
}

.vc_custom_1536902821598 {
    margin-bottom: 0px !important;
}

.vc_custom_1537532870742 {
    margin-bottom: 0px !important;
    padding-left: 20px !important;
    padding-top: 15px !important;
}

.vc_custom_1537532886286 {
    margin-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 20px !important;
}

.vc_custom_1537520964352 {
    padding-right: 0px !important;
}

.vc_custom_1537532900566 {
    margin-bottom: 0px !important;
    padding-left: 20px !important;
    padding-top: 15px !important;
}

.vc_custom_1537532908973 {
    margin-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 20px !important;
}

.vc_custom_1537520969466 {
    padding-right: 0px !important;
}

.vc_custom_1536902877687 {
    margin-bottom: 0px !important;
}

.vc_custom_1537532921078 {
    margin-bottom: 0px !important;
    padding-left: 20px !important;
    padding-top: 15px !important;
}

.vc_custom_1537532928951 {
    margin-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 20px !important;
}

.vc_custom_1537520973683 {
    padding-right: 0px !important;
}

.vc_custom_1536902892087 {
    margin-bottom: 0px !important;
}

.vc_custom_1537532940846 {
    margin-bottom: 0px !important;
    padding-left: 20px !important;
    padding-top: 15px !important;
}

.vc_custom_1537532949670 {
    margin-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 20px !important;
}

.vc_custom_1537520977585 {
    padding-right: 0px !important;
}

.vc_custom_1536902898966 {
    margin-bottom: 0px !important;
}

.vc_custom_1537532961925 {
    margin-bottom: 0px !important;
    padding-left: 20px !important;
    padding-top: 15px !important;
}

.vc_custom_1537532970092 {
    margin-bottom: 0px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
    padding-left: 20px !important;
}

.vc_custom_1536730369027 {
    margin-bottom: 25px !important;
}

.vc_custom_1536730376152 {
    margin-bottom: 25px !important;
}

.vc_custom_1536730385174 {
    margin-bottom: 25px !important;
}

.moreinfoform {
    height: 800px;
    margin-bottom: 0.75em !important;
    width: 100%;
}

.navbar {
    min-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
    background-color: unset !important;
}

.navbar-brand {
    padding-left: 0.3125rem;
}

.center-text {
    text-align: center !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.left-text {
    text-align: left;
}

.small-left-hr {
    margin-left: 0;
    max-width: 55px;
}

.stackedrows {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.navleaf::before {
    color: var(--aol-white) !important;
    content: "\f06c" !important;
    font-family: FontAwesome !important;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    left: 100%;
    margin-top: -6px;
    top: 0;
}

.review-item img {
    width: 50px;
}

.navbar .dropdown-menu a {
    font-size: large !important;
    font-weight: unset !important;
    padding: 0 5px !important;
}

.navbar-collapse {
    padding-left: 25px;
}

.textleft {
    text-align: left !important;
}

.programdata {
    border-style: groove;
    margin-right: 5%;
    max-height: -moz-fit-content;
    max-height: fit-content;
}

.programdatacol {
    min-width: 40%;
}

.textleft-ul-li li {
    margin-left: 1%;
    margin-top: 10px;
    padding-inline-start: 1px;
}

.textleft-ul-li {
    margin-left: 1%;
    margin-top: 10px;
    padding-inline-start: 1px;
}

title {
    font-style: bold !important;
}

footer {
    background: rgb(52, 58, 64);
    color: white;
    font-family: "Questrial", sans-serif;
    font-family: lato, sans-serif;
    margin-left: 0px;
    text-align: center;
}

footer table {
    width: 100%;
}

footer td {
    text-align: left;
    vertical-align: top;
}

.programdata .col,
.programdata .col-2,
.programdata .row {
    padding-bottom: unset;
    white-space: nowrap;
}

.programdata .colheader {
    flex-wrap: nowrap;
    font-weight: bold;
    white-space: nowrap;
}

.tuition {
    text-align: center;
}

.rowheader {
    text-align: right;
}

.tudata {
    text-align: left;
}

.title_with_emoji {
    text-align: right;
    white-space: nowrap;
}

.full {
    width: 100%;
}

.transpform {
    min-height: 500px;
}

.nb {
    font-weight: bold;
    list-style: none;
}

.embed {
    border: 0;
}

.hidden {
    display: none;
}

.feature-row {
    max-width: 250px;
    text-align: right;
}

.promisebar > .container {
    display: flex !important;
    flex-wrap: wrap !important;
}

.promisebar .cell {
    flex: 1 0 33%;
    // height: 200px;
    position: relative;
    
}

#promisebar h1 {
    font-size:large;
}
#promisebar p {
    font-size:medium;
}


.promisebar .blue {
    background-color: var(--aol-blue) !important;
}

#promisebar {
    display: flex;
    flex-wrap: wrap;
}

#promisebar .cell-content {
    color: white;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

#promisebar .cell-icon {
    opacity: 0.2;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
}

.banner10 {
    height: 10px;
}

#requestmoreinfo {
    height: 600px;
}

.title {
    vertical-align: text-top;
    text-align: left;
}

#programinfo  li {
    display: inline;
  }

.slide {
    text-align: center;
    text-decoration: none;
}
.slide a {
    text-decoration: none !important;
}