AddType application/x-httpd-php php php4 php3 html htm

RewriteEngine On
RewriteRule ^examprep/(.*)$ https://raw.githubusercontent.com/Academy-of-Learning-Career-College/exam-prep-files/main/$1 [R=301,NC,L]