.confetti-canvas{
    display:block;
    z-index:999999;
    pointer-events:none;
    /* top:0; */
    /* left:0; */
    /* float: left; */
width: 100%;height: 100%;position: absolute;}

nav {
    z-index: 0;
    top: 0;
    left: 0;
}