b, strong {
    font-weight:750;
  }
  h1:after
  {
      content:' ';
      display:block;
      border:1.5px solid grey;
  }
  h2:after
  {
      content:' ';
      display:block;
      border:1px solid grey; 
  }
  h3:after
  {
      content:' ';
      display:block;
      border:.75px solid grey; 
  }
  p {
    margin-bottom:10px;
  }