<footer>
  <div class="text-center">

    <p>
      Langley 604-532-4040 <a href="https://g.page/aolcclangley?share">#201-20621 Logan Ave, Langley, BC V3A 7R3</a><br>
      Abbotsford 604-855-3315 <a href="https://goo.gl/maps/RyQKvXxeWe7oUT867">#204-2692 Clearbrook Road, Abbotsford, BC
        V2V 2Y8</a></p>

    <a href="~/src/privacy-policy.html">Privacy Policy</a> |
    <a href="~/src/handbook.html#preventing-and-responding-to-sexual-violence-and-misconduct-policy">Sexual Harassment
      Policy</a> |
    <a href="~/src/handbook.html#student-statement-of-rights">Student Statement of Rights</a> |
    <a href="~/src/handbook.html#withdrawal-and-refund-policy">Refund Policy</a> | <a
      href="~/src/system_requirements.html">System Requirements</a>
  </div>
  <p>Certified with the <a href="https://www.privatetraininginstitutions.gov.bc.ca">Private Training Institutions Branch
      (PTIB)</a> of the BC Ministry of Advanced Education and Skills Training</p>

  <p>Copyright © & All Rights Reserved by Academy of Learning Career College.</p>


</footer>
<include src="./src/components/js.html"></include>