<title>Academy of Learning Career College | {{ title }}</title>

<!-- Clarity tracking code for https://aolccbc.com/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "go3gz4moor");</script>
<meta
content="mw5zw28n6989-eboks6nw04ti2txzbg4eorgy-6osw47bu1x8g7222w134ykp4ynjcnxfc6-f5r095-l-runyme7h3lw1ux1gekzexdwscuutg1y716cf8frrafi0hx6"
name="norton-safeweb-site-verification">
<meta content="924ecef1ca8f2fd0c96e" name="wot-verification">
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">


<link rel="stylesheet" href="~/scss/main.scss">