<!-- title -->
<title>Academy of Learning Career College | {{ title }}</title>

<!-- meta -->

<meta
content="mw5zw28n6989-eboks6nw04ti2txzbg4eorgy-6osw47bu1x8g7222w134ykp4ynjcnxfc6-f5r095-l-runyme7h3lw1ux1gekzexdwscuutg1y716cf8frrafi0hx6"
name="norton-safeweb-site-verification">
<meta content="924ecef1ca8f2fd0c96e" name="wot-verification">
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">

<!-- scripts -->

<!-- <script src="./js/includes.js"></script> -->


<!-- styles -->
<link rel="stylesheet" href="~/scss/main.scss">
<!-- <link href="~/css/style.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link rel="stylesheet" href="~/fontawesome/css/all.min.css"> -->