<h1>AOLCC {{ proper_name }}</h1>
<p>Academy of Learning Career College specializes in career and business training in a variety of areas, including many technical and medically oriented programs. Since 1987, Academy of Learning Career College’s unique Integrated Learning™ System has trained
    Canadians with skills for a brighter future. Our strength comes from flexible scheduling, continuous enrollment and a self-paced learning environment. Academy of Learning Career College strives to provide students with tools to succeed in an ever-changing
    workplace. Call the {{ proper_name}} Campus at <a href="tel:+{{ phone_href }}">{{ phone }}</a> to discuss your future and how Academy of Learning Career College’s full range of diploma and certificate programs can help you succeed!</p>

<h2>Contact Information</h2>

<p>
    Phone: <a href="tel:+{{ phone_href}}">{{ phone }}</a><br /> Fax: {{ fax }}<br /> Admissions: <a href="mailto:admin.{{ name }}@aolccbc.com">admin.{{ name}}@aolccbc.com</a><br /> Address: <a href="https://maps.app.goo.gl/{{ mapsurl }}">{{ address}}</a><br
    /> Parking: {{ parking}} <br /> COVID-19 Policies: Please see our <a href="~/src/disease-prevention.html" target="_blank" rel="noopener noreferrer">COVID-19 Page</a>    for a full list of polcies.<br />
    <br />
    <iframe src="https://www.google.com/maps/embed?pb={{ mapsembed}}"
        width="600" height="450" class="embed" allowfullscreen="" aria-hidden="false" tabindex="0" title="Map for Academy of Learning {{ proper_name }}"></iframe>
</p>
<img src="~/images/{{ name }}ptib.tiff?as=webp" alt="Academy of Learning {{ proper_name}} Campus PTIB Designation" />
