<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src='~/images/logo-dark.webp' title="logo" alt="Academy of Learning Career College Logo"></a>
    <div class="dropdown" id="callUsMenuDiv">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
        id="callUsMenu">
        Call Us Today
      </button>
      <ul class="dropdown-menu" aria-labelledby="callUsMenu">
        <li><a href="tel:16048553315" target="_blank" rel="noopener noreferrer">604-855-3315<br/>Abbotsford Campus</a></li>
        <li><a href="tel:16045324040" target="_blank" rel="noopener noreferrer">604-532-4040<br/>Langley Campus</a></li>
      </ul>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggle"
      aria-controls="navToggle" aria-expanded="false" aria-label="Toggle Navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navToggle">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/src/programs.html">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/src/locations.html">Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/src/aboutus.html">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/src/disease-prevention.html">Health &amp; Safety</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://my.aolcc.ca/" target="_blank" rel="noopener noreferrer">myAOLCC</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="studentrescddl" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">Student Resources</a>
          <ul class="dropdown-menu" aria-labelledby="studentrescddl">
            <li class="dropdown-item"><a
                href="ms-windows-store://pdp/?ProductId=9P7BP5VNWKX5&mode=mini" target="_blank"
                rel="noopener noreferrer">Quick Assist</a></li>
            <li class="dropdown-item"><a href="https://aolccbc.tawk.help/" target="_blank"
                rel="noopener noreferrer">KnowledgeBase</a></li>
            <li class="dropdown-item"><a href="~/src/handbook.html" target="_blank"
                rel="noopener noreferrer">Student handbook</a></li><li class="dropdown-item"><a
                href="https://outlook.office.com/mail/inbox" target="_blank" rel="noopener noreferrer">Outlook Web Access</a>
            <li class="dropdown-item"> <a href="https://here2talk.ca/" target="_blank"
                rel="noopener noreferrer">Here2Talk - Free Mental Health Resources</a>
            <li class="dropdown-item"><a
                href="https://acmeweb.academyoflearning.net/Forms/AttendanceLogin.aspx" target="_blank"
                rel="noopener noreferrer">Attendance Tracker</a>
            <li class="dropdown-item"><a href="https://mynew.aolcc.ca" target="_blank"
                rel="noopener noreferrer">myAOLCC</a></li><li class="dropdown-item"><a
                href="https://www.youtube.com/watch?v=MowAXB-hPVs" target="_blank" rel="noopener noreferrer">***NEW Orientation***</a></li>
             <li class="dropdown-divider"> <div class="dropdown-divider"></div></li>
            <li class="dropdown-item"><a
                href="https://download.respondus.com/lockdown/download.php?id=281950612">Lockdown Browser Installer</a>
            </li>

            <li class="dropdown-item"><a href="https://anydesk.com/en/download">AnyDesk</a>
            </li>
            <li class="dropdown-item"><a
                href="https://pub-ba40a2c327284ac787fcf7379eaa7030.r2.dev/rustdesk-host%3Drd.aolccbc.com%2Ckey%3DRcfPrZam4vjs9GPGgc4O6WX6EM0s8d3ZpWfmLlNQesI%3D.exe">RustDesk</a>
              </li>
          </ul>
    </div>


  </div>
</nav>
<a class="hidden" href="~/src/staffres.html">Staff Resources</a>

<a class="hidden" href="~/src/examkits.html">Exam Kits</a>

<a class="hidden" href="~/src/tt.html">Manual Install Typing Trainer</a>

<a class="hidden" href="~/src/ea.html">Enriched Academy</a>

<style>
  a {
    color: unset;
  }
</style>