<table>
<tr>
<th>Program Name</th>
<th>@ 25 hours a week</th>
<th>Cost</th>
<th>Syllabus</th>
</tr>
<tr>
<td>A+ Network+ And MCSA Desktop Certification Preparation</td>
<td>38 weeks</td>
<td>$8,510</td>
<td><a href='https://smorgs.aolccbc.com/a_network_and_microsoft_certification_preparation_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Accounting Administrator With Sage</td>
<td>40 weeks</td>
<td>$11,559</td>
<td><a href='https://smorgs.aolccbc.com/accounting_administrator_with_sage_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Accounting And Business Technology</td>
<td>45 weeks</td>
<td>$12,729</td>
<td><a href='https://smorgs.aolccbc.com/accounting_and_business_technology_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Accounting And Payroll Administrator</td>
<td>55 weeks</td>
<td>$15,180</td>
<td><a href='https://smorgs.aolccbc.com/accounting_and_payroll_administrator_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Accounting Bookkeeper</td>
<td>33 weeks</td>
<td>$8,707</td>
<td><a href='https://smorgs.aolccbc.com/accounting_bookkeeper_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Accounting Clerk</td>
<td>23 weeks</td>
<td>$6,452</td>
<td><a href='https://smorgs.aolccbc.com/accounting_clerk_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Addictions Worker</td>
<td>15 weeks</td>
<td>$2,964</td>
<td><a href='https://smorgs.aolccbc.com/addictions_worker_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Administrative Assistant</td>
<td>39 weeks</td>
<td>$10,097</td>
<td><a href='https://smorgs.aolccbc.com/administrative_assistant_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Business Administration</td>
<td>7 weeks</td>
<td>$17,893</td>
<td><a href='https://smorgs.aolccbc.com/business_administration_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Business Administration Co-Op</td>
<td>8 weeks</td>
<td>$22,293</td>
<td><a href='https://smorgs.aolccbc.com/business_administration_coop_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Business Management</td>
<td>31 weeks</td>
<td>$9,329</td>
<td><a href='https://smorgs.aolccbc.com/business_management_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Business Office Skills</td>
<td>43 weeks</td>
<td>$11,409</td>
<td><a href='https://smorgs.aolccbc.com/business_office_skills_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Business Receptionist</td>
<td>28 weeks</td>
<td>$7,135</td>
<td><a href='https://smorgs.aolccbc.com/business_receptionist_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Business Service Essentials Co-Op</td>
<td>54 weeks</td>
<td>$10,752</td>
<td><a href='https://smorgs.aolccbc.com/business_service_essentials_coop_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Call Centre Customer Representative</td>
<td>35 weeks</td>
<td>$9,627</td>
<td><a href='https://smorgs.aolccbc.com/call_centre_customer_representative_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Community Service Worker</td>
<td>42 weeks</td>
<td>$11,630</td>
<td><a href='https://smorgs.aolccbc.com/community_service_worker_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Community Service Worker And Addictions Worker</td>
<td>58 weeks</td>
<td>$14,594</td>
<td><a href='https://smorgs.aolccbc.com/community_service_worker_and_addictions_worker_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Computer Service Technician</td>
<td>30 weeks</td>
<td>$5,822</td>
<td><a href='https://smorgs.aolccbc.com/computer_service_technician_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Computer Service Technician</td>
<td>51 weeks</td>
<td>$12,167</td>
<td><a href='https://smorgs.aolccbc.com/computer_service_technician_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Computerized Office Procedures</td>
<td>29 weeks</td>
<td>$7,132</td>
<td><a href='https://smorgs.aolccbc.com/computerized_office_procedures_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Conference And Event Planner</td>
<td>51 weeks</td>
<td>$14,474</td>
<td><a href='https://smorgs.aolccbc.com/conference_and_event_planner_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Customer Service Representative</td>
<td>23 weeks</td>
<td>$6,271</td>
<td><a href='https://smorgs.aolccbc.com/customer_service_representative_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>English As A Second Language</td>
<td>16 weeks</td>
<td>$850</td>
<td><a href='https://smorgs.aolccbc.com/english_as_a_second_language_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Entrepreneurial Business Applications</td>
<td>46 weeks</td>
<td>$12,541</td>
<td><a href='https://smorgs.aolccbc.com/entrepreneurial_business_applications_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Executive Assistant</td>
<td>53 weeks</td>
<td>$14,334</td>
<td><a href='https://smorgs.aolccbc.com/executive_assistant_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Graphic Designer</td>
<td>55 weeks</td>
<td>$16,396</td>
<td><a href='https://smorgs.aolccbc.com/graphic_designer_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Human Resources Administration</td>
<td>32 weeks</td>
<td>$8,468</td>
<td><a href='https://smorgs.aolccbc.com/human_resources_administration_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Marketing Administrative Assistant</td>
<td>38 weeks</td>
<td>$10,655</td>
<td><a href='https://smorgs.aolccbc.com/marketing_administrative_assistant_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Marketing Coordinator</td>
<td>48 weeks</td>
<td>$14,242</td>
<td><a href='https://smorgs.aolccbc.com/marketing_coordinator_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Medical Administrative Assistant</td>
<td>44 weeks</td>
<td>$10,875</td>
<td><a href='https://smorgs.aolccbc.com/medical_administrative_assistant_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Medical Office Assistant</td>
<td>51 weeks</td>
<td>$13,273</td>
<td><a href='https://smorgs.aolccbc.com/medical_office_assistant_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Medical Office Assistant with Unit Clerk</td>
<td>66 weeks</td>
<td>$15,465</td>
<td><a href='https://smorgs.aolccbc.com/medical_office_assistant_with_unit_clerk_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Microsoft Certified Solutions Associate Server Cert</td>
<td>21 weeks</td>
<td>$5,624</td>
<td><a href='https://smorgs.aolccbc.com/microsoft_certified_solutions_associate_server_certification_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Network Administrator</td>
<td>88 weeks</td>
<td>$20,916</td>
<td><a href='https://smorgs.aolccbc.com/network_administrator_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Office Administration</td>
<td>54 weeks</td>
<td>$14,251</td>
<td><a href='https://smorgs.aolccbc.com/office_administration_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Office Administration Assistant</td>
<td>24 weeks</td>
<td>$6,296</td>
<td><a href='https://smorgs.aolccbc.com/office_administration_assistant_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Office Clerk</td>
<td>22 weeks</td>
<td>$5,487</td>
<td><a href='https://smorgs.aolccbc.com/office_clerk_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Payroll Administrator</td>
<td>38 weeks</td>
<td>$10,882</td>
<td><a href='https://smorgs.aolccbc.com/payroll_administrator_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Payroll Clerk</td>
<td>27 weeks</td>
<td>$7,656</td>
<td><a href='https://smorgs.aolccbc.com/payroll_clerk_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>PC Support Specialist</td>
<td>59 weeks</td>
<td>$13,604</td>
<td><a href='https://smorgs.aolccbc.com/pc_support_specialist_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Project Administration</td>
<td>51 weeks</td>
<td>$14,175</td>
<td><a href='https://smorgs.aolccbc.com/project_administration_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Sales Associate</td>
<td>21 weeks</td>
<td>$5,651</td>
<td><a href='https://smorgs.aolccbc.com/sales_associate_certificate.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Sales Professional</td>
<td>43 weeks</td>
<td>$11,787</td>
<td><a href='https://smorgs.aolccbc.com/sales_professional_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Software And Web Developer</td>
<td>48 weeks</td>
<td>$17,063</td>
<td><a href='https://smorgs.aolccbc.com/software_and_web_developer_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Web Designer</td>
<td>60 weeks</td>
<td>$17,114</td>
<td><a href='https://smorgs.aolccbc.com/web_designer_diploma.pdf'>Info Sheet</a></td>
</tr>
<tr>
<td>Web Developer</td>
<td>30 weeks</td>
<td>$10,774</td>
<td><a href='https://smorgs.aolccbc.com/web_developer_diploma.pdf'>Info Sheet</a></td>
</tr>
</table>