<div id="programoverlay" class="overlay"><button class="closebutton" onclick="closeOverlay();">X<br>Close</button> 
    <div class="container-flex center">
    <h1>
        <div id="progtitle" class="progtitle1">{{ progtitle }}</div>
    </h1>
</div>
<div class="container-flex center">
    <div id="fullimage"><img src="images/full/{{ progtitle_as_url }}_full_size.webp" alt="Program Image"></div>
</div> 
<div class="container-flex program-info" id="program-info">
    <div class="header lefthr">
        <h1>Program Info:</h1>
    </div>
    <div class="d-md-flex flex-row ">
        <div class="p-2 col1">
            <div class="container">
                <h2>Admission Requirements</h2>
                <div id="admitreq"><p>{{ admitreq }}</p></div>
            </div>
            <div class="container">
                <h2>Program Highlights</h2>
            </div>
            <div class="container">
                <div id="programhighlights">{{ highlights }}</div>
            </div>
        </div>
        <div class="p-2 col2">
            <div class="textleft">
                <div class="container">
                    <h2>Career Opportunities</h2>
                </div> 
                <div class="container">
                    <div id="careeropp">{{ careeropp }}</div>
                </div>
            </div>
            <div>
                <div class="container">
                    <h2>CORE COURSES</h2>
                </div>
                <div class="container">
                   {{ corecourses }}
                </div>
            </div>
        </div> 
        <div class="p-2 programdatacol" id="progdatatable">
            <table class="progdata">
                <tbody>
                    <tr>
                        <td class="title title_with_emoji">
                        <i class="fas fa-scroll"></i>&nbsp;Program&nbsp;Type:</td>
                        <td colspan="2">Diploma</td>
                    </tr>
                    <tr>
                        <td class="title title_with_emoji"><i class="fas fa-search-dollar"></i>&nbsp;Anticipated&nbsp;Salary:</td>
                        <td colspan="2">${{ start_salary }} – ${{ end_salary }}
                        </td>
                    </tr>
                    <tr class="tr-nobottomborder">
                        <td class="title title_with_emoji"><i class="fas fa-calendar"></i>&nbsp;Program&nbsp;Duration:</td>
                        <td id="duration" colspan="2">
                            Weeks: {{ weeks }}<br>
                            Hours: {{ hours }} <br>
                            <p id="workexphours">{{ workexphours }}</p>
                            
                        </td>
                    </tr>
                    <tr class="tr-notopborder tr-nobottomborder">
                        <td colspan="3">
                            <h3>Tuition Fees</h3>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">Tuition:</td>
                        <td>${{ dtuition }}</td>
                        <td>${{ ituition }}</td>
                    </tr>
                    <tr>
                        <td class="title">Application:</td>
                        <td>$250</td>
                        <td>$500</td>
                    </tr>
                    <tr>
                        <td class="title">Assessment:</td>
                        <td>$100</td>
                        <td>$100</td>
                    </tr>
                    <tr>
                        <td class="title">Archive Fee:</td>
                        <td>$4</td>
                        <td>$4</td>
                    </tr>
                    <tr>
                        <td class="title">Other Fees:</td>
                        <td>${{ other_fees }}</td>
                        <td>$4{{ other_fees }}</td>
                    </tr>
                    <tr>
                        <td class="title">Program Syllabus:</td>
                        <td colspan="2"><a href="smorgs/{{ progtitle_as_url }}_diploma.pdf" target="_blank" rel="noopener noreferrer">Click here to Download</a></td>
                                                                         
                    </tr>
                    <tr>
                    <td class="title">Program Notes</td>
                    
                    <td colspan="2" class="breaksallowed">
                    Tuition fees include digital course materials. <br> 
                    Printed copies may be available for an additional fee.<br>
                    Financial Assistance may be available for those who qualify.
                    </td></tr>
                    <tr><td class="title">Graduation Requirements</td>
                    <td colspan="2" class="breaksallowed">
                    Students must maintain a 75% program average to obtain a {{ credential }}
                    </td>
                    </tr>
                    <tr class="tr-nobottomborder">
                    <td class="title">Method of Delivery</td>
                    <td colspan="2" class="breaksallowed">
                    Onsite, Remote and Blended using our <br>Integrated Learning ®System training facilitated by qualified learning coaches.
                    </td>
                    </tr>
                </tbody>
            </table>
        </div></div> </div></div>