.mainpageheader.container-fluid
        .mainpageheaderform
            h1.white-text-md.text-center Funding Available for Those Who Qualify
            h2.white-text Canada&apos;s Largest Career College Network
            div
            iframe.afulliframe.iframe-full-height(title='Learnmoreframe' src='//form1.campuslogin.com/Academy_of_Learning_College/10400/Lead/AbbotsfordLangley.campuslogin?&style=//aolccbc.com/forms/transpform.css')