* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Arial;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #8ebf42;
    border-radius: 40px;
    text-align: center;
    z-index: 11;
}



.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}



.row,
.row>.column {
    padding: 8px;
}



.column {
    float: left;
    width: 33.33%;
    display: none;
}



.row:after {
    content: "";
    display: table;
    clear: both;
}



.content {
    padding: 10px;
}



.show {
    display: block;
}



.slidesbtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}



.slidesbtn:hover {
    background-color: #ddd;
}



.slidesbtn.active {
    background-color: #666;
    color: white;
}

.slide {
    max-width: 273px;
    border-style: none;
}

.slide button {
    border-style: none;
    background-color: white;
    background: none;
}

.closed {
    display: none;
}

.closebutton {
    float: right;
    background: none;
    border: none;
}

.progtitle1 {
    word-break: break-word;
}

.progdata {
    border-style: solid;
    border-color: lightgrey;
    text-align: left;
}

.progdata .title {
    font-weight: bold;
    font-style: oblique;
    vertical-align: top;
    text-align: left;
    border-right-color: var(--aol-black);
    border-right-style: groove;
    border-right-width: thin;
    padding-right: 0.5em;
}

.program-info {
    margin-left: 5px;
    margin-right: 5px;
}