# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Verify Site

on:
    push:
    workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
        - run: sleep 30
        - name: cloudflare-preview-url
          uses: zentered/cloudflare-preview-url@v1.0.0
          id: cloudflare_preview_url
          env:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
            CLOUDFLARE_ACCOUNT_EMAIL: ${{ secrets.CLOUDFLARE_ACCOUNT_EMAIL }}
            CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          with:
            cloudflare_project_id: 'aolccbc-com'
            # wait_until_ready: true
        - name: Get URL
          run: echo "https://${{ steps.cloudflare_preview_url.outputs.preview_url }}"