body {
	background-color: transparent;
	
}
table {
	border-collapse: collapse;
	border-style: none;
	border-width: 0px;
}



td {
	border-style: none;
}

input {
	width: 100%;
}

tr.pluhead {
	background: black;
	color: white;
	text-transform: uppercase;
}

tr.plusubhead {
	background: black;
	color: white;
	column-span: 3;
	text-transform: uppercase;
}


table.plulist {
	display:inline-block;
}

td.plucol1 {
	
	text-align: left;
	white-space: nowrap;
	text-transform: capitalize;
	
}

td.plucol2 {
	text-align: center;
	
}

td.plucol3 {
	
	text-align: right;
	text-transform: lowercase;
}

.receipthead {
	text-align: center;
	font-weight: bold;
}
.receiptheadp {
	
	font-weight: normal;
}
.receipt {
	padding: 20px;
	width: 250px;
	border-style: double;
	border-width: thin;
	
}

.receiptitemname {
	padding-left: 10px;


}
.receiptitemsubprice {
	padding-left: 25px;


}

.memo {
	border-style: solid;
	border-width: thin;
	text-align: center;
	max-width: 500px;
	clear: none;
	margin-left: 30%;
	background-color: #D7D7D7;
	
	
}
.memobody {
	background-color: #FFFFFF;
	border-top-width: medium;
	margin: 10px;
	border-top-style: solid;

	
}

.tore {
	
	text-align: left;
	margin-right: 10px;
}

.toredetails {
	
	display: inline-block; 
	text-align: left;
}
.left {
	text-align: left;
}
.cashrefunddate {
	min-width: 276px;
}

.row {
	display: inline-flex;
	white-space: nowrap;
	max-width: 99%;
}

.full {
	width: auto;
	margin: auto;
	white-space: nowrap;

	
}

.bold {
	
	font-weight: bold;
	
}
.border1 {
	border-width: medium;
	border-style: solid;
	
	
}
.borderinner1 {
	-webkit-box-shadow: inset 2px 0px;
	box-shadow: inset 2px 0px;
	border-style: solid;
	border-width: medium;
	border-top-color: #000000;
	
	
}
input  {
	box-sizing: border-box;
}
.radio {
	max-width: 23px;
}
.thin {
	width: 19px;
}

.nowrap {
	
	white-space: nowrap;
}

.cashoutcol1 {
	width: 48px;
}
.cashoutcol2 {
	width: 15px;
}
.cashoutcol3 {
	width: 35px;
}
.cashoutcol4 {
	width: 15px;
}
.cashoutcol5 {
	width: 50px;
}
.cashoutcol6 {
}
.cashoutcol7 {
	width: 145px;
}
.cashoutcol8 {
	width: 35px;
}
.cashoutcol9 {
	width: 35px;
}
.cashoutcol10 {
	width: 15px;
}
.cashoutcol11 {
	width: 6px;
}
.cashoutcol12 {
	width: 18px;
}
.totalscol1 {
	width: 148px;
}
.cashoutright {

}
.receiptprice {
	width: 66px;
	float: left;
}
.receiptprice input {

}
